* {
  padding: 0;
  margin: 0;
}

body {
    background:#333;
    /*background:#2096BA;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
  max-width: 90vw;
  margin: auto;
}

.slide {
  margin-top: 5vh;
  padding: 5vh 5vw;
  background: white;
  border-radius:10px;
  border: solid gray 1px;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
  text-align: center
}

.slide img {
  max-width: 100%;
}

.slide__title--1 {
  font-size: 10vh;
  padding-top:2vh;
  padding-bottom: 2vh;
}

.slide__title--2 {
  font-size: 8vh
}

.slide__title--3 {
  font-size: 5vh
}

.slide__content {
  font-size:5vh
}

.nuxt-link-exact-active {
    font-weight:bold
}

.pager {
  position: absolute;
  right:8vw;
  top:8vh;
  font-weight: bold;
  color:#333;
  text-align: center;
  font-size:4vh;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
/*
.page-enter-active, .page-leave-active {
  transition: opacity .15s
}
.page-enter, .page-leave-active {
  opacity: 0
}
*/
